.checkbox-lg{
  width: 2.0em;
  height: 2.0em;
  background: green;
  &:hover {
    background-color: yellow;
  }
}

.badge-todo {
  left: 25%;
  bottom: 60%;
  font-size: 16px;
  @media (min-width: 768px) {
    left: 12%;
  }
  @media (min-width: 1024px) {
    left: 10%;
  }
  @media (min-width: 1440px) {
    left: 7%;
  }
}
.my-2rem {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.icon-remove {
  font-size: 1.6rem;
  background: white;
  border-radius: 100%;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}

.icon-remove-position{
  all:unset;
  right: 0;
  bottom: 80%;
  border-radius: 100%;

  &:hover{
    -webkit-box-shadow: 0px 0px 10px 1px darkred;
    -moz-box-shadow: 0px 0px 10px 1px  darkred;
    text-shadow: 0px 0px 10px 1px  darkred;
  }
  @media screen {
    
  }
}