@font-face {
  font-family: 'Poetsen One';
  font-weight: 400;
  src: url("./dist/fonts/PoetsenOne-Regular.ttf") format('woff2');
}

body {
  background: -webkit-linear-gradient(to right bottom, #e1eec3, #f05053);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right bottom,#e1eec3, #f05053 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
}

// Fontawesome
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";


// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "node_modules/bootstrap/scss/functions";
// 2. Include any default variable overrides here


// 3. Include remainder of required Bootstrap stylesheets
@import "dist/scss/variables";
// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
//$tertiary: #3fb247;
//
//$custom-theme-colors:map-merge($theme-colors, (
//        "tertiary": $tertiary
//));

@import "node_modules/bootstrap/scss/reboot";

@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/bootstrap";

@import "./dist/scss/Components/CreateTodoButton/CreateTodoButton";