@font-face {
  font-family: 'Poetsen One';
  font-weight: 400;
  src: url("./dist/fonts/PoetsenOne-Regular.ttf") format('woff2');
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "node_modules/bootstrap/scss/functions";
// 2. Include any default variable overrides here
$body-bg: #111232;
$body-color: white;
$font-family-base: "Poetsen One";

// 3. Include remainder of required Bootstrap stylesheets
@import "node_modules/bootstrap/scss/variables";
// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
//$tertiary: #3fb247;
//
//$custom-theme-colors:map-merge($theme-colors, (
//        "tertiary": $tertiary
//));

@import "node_modules/bootstrap/scss/reboot";
